<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Gianluca Vialli">

        <title>@ViewData["Title"] - Sistema de Login</title>

        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />

        <!-- Bootstrap min.css -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

        <!-- Custom css -->
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/login-page.css" asp-append-version="true" />
    </head>

    <body id="login-body">

        @RenderBody()

        <!-- JQuery min.js -->
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>

        <!-- Bootstrap bundle.min.js -->
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

        <!-- Custom js -->
        <script type="module" src="~/js/animation/togglePasswordVisibility.js" asp-append-version="true"></script>
        <script type="module" src="~/js/animation/door.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)

    </body>
    
</html>
