@import url('../color/file-colors.css');

#user-register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.person {
    width: 100%;
}

.person h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.person i {
    font-size: 3rem;
}

#user-register-container form .col-md-6{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#user-register-container form .col-md-6 .form-group {
    width: 100%;
    margin: 1rem auto;
}

#usertype-register {
    margin: 1rem auto;
}

.btn-user-register {
    display: flex;
    align-items: center;
}

#user-password {
    border-radius: 0.5vh 0vh 0vh 0.5vh;
}

#user-toggle-password {
    border-radius: 0vh 0.5vh 0.5vh 0vh;
}

#user-confPass {
    border-radius: 0.5vh 0vh 0vh 0.5vh;
}

#user-toggle-confpassword {
    border-radius: 0vh 0.5vh 0.5vh 0vh;
}

@media (max-width: 600px) {

    .person {
        display: none;
    }

    #user-register-container form {
        padding: 4vh;
    }
    
    #user-register-container form .col-md-6 .form-group {
        margin: 1.5vh auto;
    }

    #usertype-register {
        margin: 1.5vh auto;
    }

}