@import url('../css/color/file-colors.css');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Segoe UI;
}

#login-body {
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.login-card {
  width: 42rem;
  height: 35rem;
  box-shadow: 1px 1px 80px #ffffff8e;
  background-color: var(--main-bg-color);
  border-radius: 2vh;
}

.login-card .card-header {
  border-radius: 2vh 2vh 0vh 0vh;
  border-bottom: 0.5rem solid var(--purple-color);
}

.login-card .card-header h1{
    font-size: 3.5rem;
}

.login-card .card-header h1 span{
  color: var(--purple-color);
}

#login-form {
  display: flex;
  flex-direction: column;
}

#login-form .form-control:focus {
  border-color: var(--light-color);
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#login-form .input-group {
  margin: 3rem auto 1rem auto;
  width: 33rem;
}

#login-form input {
  border: none;
  background-color: var(--light-color);
  color: var(--dark-color);
}

.input-group-text {
  background-color: var(--light-color);
  color: var(--dark-color);
  cursor: pointer;
  border: none;
}

#login-btn {
  width: 16rem;
}

#login-btn-container {
  margin: 3rem auto;
}

#login-btn-container p {
  margin: 3rem -1rem;
}

#login-btn-container button:hover {
  border-radius: 2vh;
  transition: ease-in-out var(--button-hover-transition-speed);
  box-shadow: 0.5px 0.5px 4px var(--light-box-shadow);
}

#toggle-password:hover {
  color: var(--purple-color);
}
