:root {
  --primary-color : #1b6ec2;
  --primary-links-color : #0077cc;
  --primary-border-color : #1861ac;
  --light-color : #ffff;
  --light-box-shadow: #ffffffb9;
  --light-border-top : #e5e5e5;
  --light-navlink-border : #e5e5e59a;
  --dark-color: #000000;
  --navbar-color : #ffffff5c;
  --navlinks-color: #ffffff1d;
  --dark-box-shadow: #00000016;
  --purple-color: #a200ffde;
  --purple-hover-color: #a200ff73;
  --main-bg-color: #ffffff25;
  --button-hover-transition-speed: 0.3s;
}